:root {
	--hover-border-color: #AACCAA;
}

.table_container {
	border-radius: 10px;
	border: solid 1px #AAAAAA;
	overflow: auto;
	/*height: 20em;*/
}

table {
	border-collapse: collapse;
    width: 100%;
}

thead {
	position: sticky;
	top: 0;
}

th {
	background-color: #666666;
	border: solid 1px #AAAAAA;
	border-top: none;
	color: white;
	padding: 0.1em 0.5em;
}

td {
	background-color: #FEFEFE;
	border: solid 1px #AAAAAA;
	padding: 0.1em 0.5em;
	text-align: center;
}

td:nth-child(1), th:nth-child(1) {
	border-left: none;
}

td:last-child, th:last-child {
	border-right: none;
}

table tr:last-child td {
	border-bottom: none;
}

tr:nth-child(even) td {
	background-color: #EEEEFE;
}

tr:hover td{
	/*-webkit-box-shadow:inset 0px 0px 0px 1px #f00;
	-moz-box-shadow:inset 0px 0px 0px 1px #f00;*/
	box-shadow: 
		inset 0px 2px 1px 0px var(--hover-border-color), 
		inset 0px -2px 1px 0px var(--hover-border-color);
	cursor: pointer;
}

tr:hover td:first-child{
	/*-webkit-box-shadow:inset 0px 0px 0px 1px #f00;
	-moz-box-shadow:inset 0px 0px 0px 1px #f00;*/
	box-shadow:inset 2px 0px 1px 2px var(--hover-border-color);
}

tr:hover td:last-child{
	/*-webkit-box-shadow:inset 0px 0px 0px 1px #f00;
	-moz-box-shadow:inset 0px 0px 0px 1px #f00;*/
	box-shadow:inset -2px 0px 1px 2px var(--hover-border-color);
}